image: microsoft/dotnet:latest

stages:
  - build
  - test

variables:
  project: "car-catalog"
  project_file: "CarCatalog.csproj"

build:
  stage: build
  variables:
    build_path: "/src"
  script:
    - "cd"
    - "dir"
    - "cd $build_path"
    - "dotnet build"

test:
  stage: test
  variables:
    test_path: "/test"
  script:
    - "cd $test_path"
    - "dotnet test"
